    /* reset */
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    /* utils */
    
    .container {
        max-width: 1200px auto;
        margin: 0 auto;
    }
    
    .col {
        float: left;
    }
    
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .wd-15 {
        width: 15%;
    }
    
    .wd-20 {
        width: 20%;
    }
    
    .wd-60 {
        width: 60%;
    }
    
    .wd-30 {
        width: 30%;
    }
    
    .wd-40 {
        width: 40%;
    }
    
    .text-right {
        text-align: right;
    }
    
    .text-center {
        text-align: center;
    }
    
    .text-left {
        text-align: left;
    }
    
    .btn {
        border-radius: 15px;
    }
    
    .col .btn a {
        padding: 15px 25px;
    }
    
    .btn a {
        text-decoration: none;
        color: black;
    }
    
    .btn-white {
        background-color: white;
        color: black;
        border-color: transparent;
    }
    
    .btn-black {
        background-color: black;
        color: white;
        border-color: transparent;
    }
    
    .btn-small {
        padding: 10px;
        display: inline;
    }
    
    .btn-big a {
        padding: 15px 20px;
        display: inline-block;
    }
    
    .btn-black a {
        color: white;
    }
    
    .btn-big {
        font-weight: bold;
    }
    
    div.col.text h2 {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    
    div.col.text p {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    
    .last-section h2 {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    
    .last-section p {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    
    .wave::after {
        content: "";
        background-image: url(../img/wave.svg);
        opacity: 0.1;
        top: -50%;
        left: 0;
        bottom: 50%;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    
    .wave-last::after {
        content: "";
        background-image: url(../img/wave.svg);
        opacity: 0.1;
        top: -20%;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    
    header {
        margin-bottom: 100px;
    }
    
    .top-menu {
        background-color: #2A5EE8;
        height: 80px;
        line-height: 80px;
    }
    
    #logo {
        vertical-align: middle;
    }
    
    .top-menu .top-nav li {
        list-style-type: none;
        display: inline-block;
    }
    
    .top-nav li a {
        text-decoration: none;
        color: white;
        margin-right: 20px;
    }
    
    .top-nav li:hover a {
        text-decoration: underline;
    }
    /* jumbotron */
    
    .jumbotron {
        height: 400px;
        margin: 0 auto;
        background-image: url(../img/jumbo.png);
        background-size: cover;
        background-position: center;
        position: relative;
    }
    
    .jumbo-content {
        font-size: 25px;
        color: white;
        width: 50%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
    }
    
    .jumbo-content p {
        margin-top: 30px;
        font-size: 14px;
        font-weight: bold;
    }
    /* jumbo button */
    
    .jumbo-buttons {
        position: absolute;
        bottom: 30%;
        right: 50%;
        transform: translate(50%);
    }
    
    button {
        margin-right: 20px;
    }
    
    .jumbo-buttons button:hover {
        transform: scale(1.1);
    }
    
    .jumbo-buttons button:active {
        transform: scale(1);
    }
    /* main */
    
    main section {
        margin-bottom: 100px;
    }
    /* first section */
    
    section.first-section {
        position: relative;
    }
    
    div.col.first-img {
        position: relative;
        height: 500px;
    }
    
    .first-img img {
        width: 80%;
        height: 80%;
        position: absolute;
        right: 100px;
        top: 0;
    }
    
    div.col.first-text {
        padding: 30px 320px 0px 0px;
    }
    /* second section */
    
    section.second-section {
        position: relative;
        width: 100%;
    }
    
    div.col.second-text {
        padding: 30px 0px 0px 180px;
    }
    /* 3rd section */
    
    section.third-section {
        position: relative;
    }
    /* last section */
    
    section.last-section {
        position: relative;
    }
    
    .last-section.text {
        text-align: center;
        position: absolute;
        right: 50%;
        transform: translate(50%);
    }
    
    .last-section.img {
        text-align: center;
    }
    
    .last-section.img img {
        margin-top: 80px;
    }
    
    button.download a {
        padding: 15px 20px;
        display: inline-block;
        color: white;
    }
    
    button.download {
        margin-top: 30px;
        background-color: teal;
        border-color: transparent;
    }
    
    button.download:hover {
        transform: scale(1.1);
    }
    
    button.download:active {
        transform: scale(1);
    }
    /* footer */
    
    footer {
        background-color: black;
        height: 600px;
        padding: 50px 200px;
    }
    /* .footer.container {
    background-color: black;
    height: 600px;
    padding: 50px 200px;
} */
    
    footer h2,
    footer h3 {
        color: cornflowerblue;
    }
    
    footer h2 {
        margin-bottom: 40px;
    }
    
    footer h3 {
        font-size: 14px;
    }
    
    .fas {
        color: white;
        margin-right: 10px;
    }
    
    .social {
        color: white;
        margin-top: 40px;
    }
    
    .social i {
        margin-right: 20px;
    }
    
    footer li a {
        color: white;
        text-decoration: none;
        font-size: 12px;
    }
    
    footer li {
        margin-top: 10px;
    }
    
    footer li:hover a {
        text-decoration: underline;
    }
    
    hr {
        color: white;
        margin-top: 30px;
    }
    
    .final-logo {
        margin-top: 40px;
    }
    
    .float-right {
        float: right;
    }
    
    .final-logo button {
        background-color: cornflowerblue;
        padding: 10px 20px;
        border-radius: 15px;
        border-color: transparent;
    }
    
    .final-logo button a {
        text-decoration: none;
        color: white;
    }
    
    .final-logo button:hover {
        transform: scale(1.1);
    }
    
    .final-logo button:active {
        transform: scale(1);
    }